p {
  font-size: 20px;
}
h1 {
  text-align: center;
}
input:checked ~ img {
  /* nếu muốn biến mất khỏi giao diện */
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
img {
  transition: 0.5s;
}
p {
  text-align: center;
}
